#ide
/.vscode
/.idea

#modules
/node_modules
package-lock.json

#build
/build
/public/js
/public/css
/public/img
/public/libs
/tag-html-pages

#config and temp
/config/resume*
/config/outputs
/config/resumeFillDb*
/config/resumePreRender*
/temp/urlIdCounter
/temp/filesList.js
/temp/setNoFollow
data.json
/turboRss
#/config/development.js
.env

#logs
*.log

#static
/sitemaps
/assets/
/data/test

dev_serve.js
data/brokenUserError.json